body{
    background-color: hsl (0, 0%, 95%);
    width: 1440px;
}
h2{
    color: hsl(0, 0%, 95%);
}
a{
    border: 13px solid hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
}
a:link{
    text-decoration: none;   
}
p{
    color: hsla(0, 0%, 100%, 0.75);
}
div{
    float: left;
}
.vehicles{
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate (-50%, -50%);
}
.sedans{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.suvs{
    background-color: hsl(184, 100%, 22%);  
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.sedans, .suvs, .luxury{
    height: 500px;
    width: 306px; 
    padding: 50px; 
    box-sizing: border-box;
}
p{
    text-align: left;
    line-height: 25px;
}
#a{
    color: hsl(31, 77%, 52%);
}
#b{
    color: hsl(184, 100%, 22%);
}
#c{
    color: hsl(179, 100%, 13%);
}
#a, #b, #c{
    position: relative;
    top: 90px;
    display: block;
    width: 50%;
    text-align: center;
}
h2{
    font-family: 'Big SHoulders Display', cursive;
    font-size: 30px;
}
p, #a, #b, #c{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13px;
}